@media screen and (max-width: 800px) {
   .jb {
      height: 500px;
   }
   h1 {
      font-size: 30px;
   }
   .header {
      position: unset;
   }
   .header .header__row {
      flex-direction: column;
   }
   .grid > div {
      gap: 10px;
   }
   .grid > div p:first-child {
      font-size: 18px !important;
   }
   .grid > div p:nth-child(2) {
      font-size: 14px;
   }
   .nav {
      flex-wrap: wrap;
      justify-content: center;
   }
   .certificates .certificates__list > a {
      max-width: 45%;
   }
}

@media screen and (max-width: 500px) {
   .certificates .certificates__list > a {
      max-width: 100%;
   }
   .grid .slide div p:first-child {
      font-size: 14px !important;
   }
   .scroll-up {
      bottom: 10px;
      right: 10px;
   }
   .scroll-up svg {
      width: 50px;
      height: 50px;
   }
}
